<!DOCTYPE html>
<html>
<head>
  <title> LPR EVENTOS </title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <h1>Bem-vindo à Plataforma de Eventos</h1>
  <p>Em breve você poderá se inscrever em eventos incríveis!</p>
</body>
</html>
